os: linux
dist: noble
language: php
php:
  - 8.3

env:
  global:
    - XDEBUG_MODE=coverage

addons:
  sonarcloud:
    organization: "matecat"
    token: $SONAR_TOKEN

before_script:
  - composer install

script:
  - ./vendor/bin/phpunit -d memory_limit=-1
  - ./vendor/bin/phpunit -d memory_limit=-1 --coverage-clover=coverage.xml
  - ./vendor/bin/phpstan analyse src --error-format=json > phpstan.json

after_success:
  - sonar-scanner -X -Dsonar.token=$SONAR_TOKEN -Dsonar.projectKey=matecat_whole-text-finder -Dsonar.sources=src -Dsonar.tests=tests/ -Dsonar.php.coverage.reportPaths=coverage.xml -Dsonar.php.phpstan.reportPaths=phpstan.json